body {
    text-align: center;
}
h1 {
    color:#de54a0;
    margin-bottom: 10;  
}
#post {
    color:#730642;
}
h2 {
    color:blue;
}
li {
    font-weight: italic;
    color:#0c1b63;
}
p {
    font-weight: bold italic;
    color: grey;
}